body {margin:15px 15px 15px 15px;background:#f2f2f2;}
.fr{float: right}  .fl{float: left} .clearfix{clear: both;}
.LM-container {border:1px solid #f2f2f2;border-radius:5px;background-color:#ffffff}
.LM-main {margin:10px 10px 10px 10px;}

/**必填红点 */
.LM-form>.layui-form-item>.required:after {content:'*';color:red;position:absolute;margin-left:4px;font-weight:bold;line-height:1.8em;top:6px;right:5px;}
.LM-form>.layui-form-item>.layui-form-label {width:120px !important;}
.LM-form>.layui-form-item>.layui-input-block {margin-left:150px !important;}
.LM-form>.layui-form-item>.layui-input-block >tip {display:inline-block;margin-top:10px;line-height:10px;font-size:10px;color:#a29c9c;}
/**
 手机自适应样式
*/
/*图片大小*/
.layui-upload-img{width: 100px; max-height: 120px;}
@media screen and (max-width: 768px){
    .LM-table .layui-inline {
        width: 100%;
        margin-bottom: 5px;
    }
    .LM-table .layui-btn, .LM-table .layui-btn+.layui-btn, .LM-table .layui-input-inline, .layui-elem-quote .layui-btn {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 0;
        float: none!important;
    }

}