{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>{:lang('addons')}{:lang('list')}</legend>
        </fieldset>

        <table class="layui-table layui-hide" id="list" lay-filter="list"></table>
    </div>
</div>


<script type="text/html" id="action">
    {{# if(d.install==1){ }}
    <a href="javascript:;" class="layui-btn  layui-btn-xs" lay-event="config">{:lang('config')}</a>
        {{#  if(d.status == 1){ }}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event='status'>启用</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event='status'>禁用</a>
        {{#  } }}
    <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="uninstall">{:lang('uninstall')}</a>

    {{# }else{ }}
        <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="install">{:lang('install')}</a>

    {{# } }}

    {{# if(d.install==1){ }}
        {{# if(d.website !=''){ }}
        <a  href="{{d.website}}"  target="_blank" class="layui-btn  layui-btn-xs">{:lang('demo')}</a>
        {{# } }}
    {{# } }}
</script>


<script type="text/html" id="name">
    {{d.name}}<img src="/static/admin/images/image.gif" onmouseover="layer.tips('<img src={{d.image}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">
</script>
<script type="text/html" id="create_time">
    {{layui.util.toDateString(d.create_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
<script type="text/html" id="update_time">
    {{layui.util.toDateString(d.update_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>

{include file="common/footer"/}
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        var tableIn = table.render({
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'title', title: '名称', width: 120,sort:true,},
                {field: 'name', title: '标识', width: 100,sort:true,templet:'#name'},
                {field: 'description', title: '描述', width: 220, sort:true,},
                {field: 'version', title: '插件版本', width: 60,sort:true,},
                {field: 'require', title: '适用版本', width: 60,sort:true},
                {field: 'author', title: '作者', width: 150,sort:true},
                {field: 'create_time', title: '添加时间', width: 180,templet:'#create_time'},
                {field: 'update_time', title: '修改时间', width: 180,templet:'#update_time'},
                {title:'操作',width:250, toolbar: '#action',align:"center"}

            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });



        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'install'){
                layer.confirm('{:lang("Are you sure you want to install it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('install')}",{name:data.name},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload()
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }
            if(obj.event === 'uninstall'){
                layer.confirm('{:lang("Are you sure you want to uninstall it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('uninstall')}",{id:data.id,name:data.name},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:2000,icon:1});
                            tableIn.reload()
                        }else{
                            layer.msg(res.msg,{time:2000,icon:2});
                        }
                    });
                });
            }
            if(obj.event === 'status'){

                layer.confirm('{:lang("Are you sure you want to change it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('state')}",{id:data.id,name:data.name},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:2000,icon:1});
                            tableIn.reload()
                        }else{
                            layer.msg(res.msg,{time:2000,icon:2});
                        }
                    });
                });
            }


            if(obj.event === 'config'){
                var id = data.id;
                var name =data.name;
                var index = layer.open({
                    type: 2,
                    content: '{:url("config")}?id='+id+'&name='+name,
                    area: ['600px', '800px'],
                    maxmin: true
                });
                layer.full(index)

            }
            return false;
        });




    });


</script>