{include file="common/header"/}
<div class="lemo-container">
    <div class="lemo-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>{$title}</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" lay-filter="form">
            <div class="layui-form-item">
                <label class="layui-form-label">所属等级</label>
                <div class="layui-input-inline">
                    <select name="level_id" lay-verify="required">
                        <option value="">请选择等级</option>
                        {volist name="userLevel" id="vo"}
                        <option value="{$vo.id}" {if !empty($info) && $info.level_id==$vo.id} selected {/if} >{$vo.level_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" lay-verify="required" placeholder="{:lang('pleaseEnter')}昵称" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    在4到25个字符之间。
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                    <input type="text" name="mobile" placeholder="{:lang('pleaseEnter')}手机" lay-verify="phone" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    必须是正确的手机号
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <input type="hidden" name="avatar" id="avatar" class="attach">
                <div class="layui-input-inline">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-primary" data-path='user' id="uploads"><i class="icon icon-upload3"></i>点击上传</button>
                        <button type="button" class="layui-btn layui-btn-primary" id="selectAttach" data-href="{:url('sys.attach/select')}?mime=image"><i class="icon icon-upload3"></i>选择</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="addPic">
                            <p id="notice"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('email')}</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" lay-verify="email" placeholder="{:lang('pleaseEnter')}邮箱" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('sex')}</label>
                <div class="layui-input-block">
                        <input type="radio" name="sex" lay-filter="sex" checked value="1" title="男">
                        <input type="radio" name="sex" lay-filter="sex" value="2" title="女">
                        <input type="radio" name="sex" lay-filter="sex" value="0" title="保密">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="hidden" name="id"  >
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                    <a data-href="{:url('index')}" class="layui-btn layui-btn-primary back">{:lang('back')}</a>
                </div>
            </div>
        </form>
    </div>
</div>

{include file="common/footer"/}
<script>
    layui.config({
        base: "/static/admin/js/",
        version: true
    }).extend({
        Admin:'Admin',
    }).use(['Admin','form','laydate'], function () {
        var form = layui.form, laydate=layui.laydate ,$=layui.$;
        var info = '';
        //日期范围
        laydate.render({
            elem: '#date'
            ,range: true
        });

        info = {:json_encode($info)};
        form.val("form", info);
        if(info){
            $('#addPic').attr('src',info.avatar);
        }
        form.render();

    });
</script>